@import "_resets";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,500&display=swap");

$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

//Primary Colours

$peach: #e7816b;
$black: #1d1c1e;
$white: #ffffff;

//Secondary Colours

$light-peach: #ffad9b;
$dark-grey: #333136;
$light-grey: #f1f3f5;

body {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: rem(16);
  line-height: 162%;
  color: $dark-grey;
}

.nav {
  display: flex;
  height: rem(96);
  background: #ffffff;

  .burger {
    padding-top: rem(39);
    padding-right: rem(24);

    img {
      width: rem(30);
    }
  }
}

.white-btn {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: rem(15);
  line-height: rem(22);
  /* identical to box height */
  letter-spacing: rem(1);
  text-transform: uppercase;
  color: #333136;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  padding: rem(18) rem(25);

  &:hover {
    color: white;
    background: #ffad9b;
  }
}

@import "_home";
